---
import LinkNewTabIcon from "./icons/LinkNewTab.astro";
const PROJECTS = [
    {
        title: 'Epeak',
        description: 'Desarrollada desde cero en colaboración con un asociado, ePeak.mx es una plataforma que facilita la gestión de tareas y la realización de exámenes. Además, incluye un simulador del SAT para ayudar a los estudiantes a prepararse eficazmente.',
        image: '/projects/epeak.webp',
        link: 'https://www.epeak.mx',
        linkLabel: 'Epeak.mx',
        github: '',
        tags: ['Angular', 'Material UI', 'TypeScript', 'NodeJs', 'NestJs', 'GitLab', 'MongoDB'],
    },
    {
        title: 'Codes Fortress',
        description: 'Es una página web desarrollada con React y un backend en NestJS. Nuestra plataforma te permite registrar y estudiar preguntas de entrevistas técnicas. Además, cuenta con etiquetas que te permiten filtrar las preguntas por temas, facilitando el estudio específico de lo que necesitas.',
        image: '/projects/codesfortress.webp',
        link: 'https://codesfortress.com/',
        linkLabel: 'codesfortress.com', 
        github: '',
        tags: ['React', 'Tailwind', 'TypeScript', 'NodeJs', 'NestJs', 'GitLab', 'MongoDB'],
    }
]
---
<div class="flex flex-col">
    {
        PROJECTS.map(({ title, description, image, link, linkLabel, github, tags }) => {
            return (
                <article class="flex w-full rounded-lg mb-4 flex-wrap md:flex-nowrap flex-col md:flex-row">
                    <h3 class="block md:hidden ml-2 text-lg font-bold tracking-tight py-1 pt-0 opacity-70 text-black-900/90">{title}</h5>
                    <img class="rounded-md flex h-full object-cover mx-auto" src={image} alt={title} />
                    <div class="flex flex-col justify-between ml-3">
                        <div class="">
                            <h3 class="hidden md:block text-lg font-bold tracking-tight py-1 pt-0 opacity-70 text-black-900/90">{title}</h5>
                            <p class="text-sm opacity-80 text-wrap pt-2 pb-1">{description}</p>
                            <div class="flex flex-wrap gap-x-1 gap-y-1 py-2">
                                {
                                    tags.map(tag => {
                                        return (
                                        <div class="flex items-center rounded-full bg-purple-500/10 px-3 py-1 text-xs leading-5 text-purple-400 ">{tag}</div>
                                        )
                                    })
                                }
                            </div>
                        </div>
                        <div class="flex flex-row justify-start">
                            {
                                link && (
                                <a href={link} class="flex items-center font-medium text-md text-purple-600 dark:text-blue-500 hover:underline"  aria-label="Enlace hacia la pagina del proyecto"><span class="mr-2">{ linkLabel }</span> <LinkNewTabIcon/> </a>)
                            }
                            {
                                github && (
                                <a href={github} class="flex items-center font-medium text-md text-purple-600 dark:text-blue-500 hover:underline"  aria-label="Enlace hacia el repositorio del proyecto">Repositorio</a>)
                            }
                        </div>
                    </div>
                </article>
            )
        })
    }
</div>